body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: large;
  background-color: #aaa;
  background-image: url(../picture/bg.png);
  background-attachment: fixed;
}

.copyright{
  width: 100%;
  position: absolute;
  bottom: 0;
}

/*Menu déroulant*/

nav{
  width: 100%;
  background-color: #a7a7a7;
}

nav > ul{
  padding: 0px;
  margin: 0px;
}

nav >ul::after{
  content: "";
  display: block;
  clear: both;
}

nav li{
  list-style-type: none;
}

nav > ul > li{
  float: left;
  position: relative;
}

nav > ul > li > a{
  padding: 20px 30px;
  color: #555;
}

nav > ul > li:hover a{
  padding: 15px 30px 20px 30px;
}

.submenu{
  display: none;
}

nav a{
  display: inline-block;
  text-decoration: none;
}

nav li:hover .submenu{
  display:inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 1000;
}

.submenu li{
  border-bottom: 3px solid #515053;
  border-left: 3px solid #515053;
}

.submenu li a{
  padding: 15px 30px;
  font-size: 13px;
  color: #bbb;
  width: 270px;
}

.menu:hover{
  border-top: 3px solid rgb(83, 83, 83);
  background-color: rgba(5, 45, 90, 0.15)
}

.menu .submenu{
  background-color: #1d1d1d
}

.submenu li:hover a{
  font-weight: bold;
}

.name{
  color: rgb(88, 194, 255);
  text-decoration: none;
  text-align: center;
  background-size: 80%;
}

.txt{
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  background-size: 80%;
}

.res{
  width: 50px;
}

/*CV*/

p{
  font-size: 1em;
  line-height: 1.5em;
}
a{
  text-decoration: none;
  color: #000;
}

header h1{
  color: #121212;
  font-size: 1.5em;
  width: 90%;
  margin: 0 auto;
}

footer{
  border-top: 2px solid #fff;
}
footer p{
  width: 90%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
footer a{
  color: #fff;
}

section{
  display: flex; 
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px #bbb;
  background-color: #ddd;
}

section h2{
  margin: 20px 0;
  width: 90%;
}
section > div{
  width: 90%;
}

.photo{
  text-align: center;
}
.photo img{
  width: 300px;
  height: 150px;
}
.prez{
  border-bottom: 2px dashed #ccc;
}
.prez a{
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px auto 30px auto;
  color: #fff;
  background-color: #EA0;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 5px;
}
.contact-flex{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.contact-flex p:first-child{
  flex: 0 0 40%;
}
.contact-flex p:last-child{
  flex: 0 0 60%;
}
.social{
  display: flex;
  justify-content: space-around;
  margin: 10px auto 0px auto;
}
.social img{
  width: 40px;
  height: 40px;
}

.exp{
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.exp-info{
  display: flex;
  flex-flow: column wrap;
}
.exp-logo{
  flex: 0 0 25%;
  max-width: 100px;
}
.exp-info{
  flex: 0 0 70%;
  margin-left: auto;
}
.exp img{
  width: 100%;
}
.exp h3{
  font-size:  1.2em;
}
.exp h4{
  font-size:  1em;
  font-weight: normal;
}

.h3gauche{
  width: 90%;
}
.comp{
  display:flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}
.comp p{
  flex: 0 0 40%;
}
.conteneur-barre{
  flex: 0 0 60%;
  border-radius: 5px;
  background-color: grey;
  border-bottom: 1px ridge grey;
}
.barre{
  display: block;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.c50{
  width: 50%;
  background-color: #8B8;
}
.c85{
  width: 85%;
  background-color: #8B8;
}
.c90{
  width: 90%;
  background-color: #4B8;
}
.c95{
  width: 95%;
  background-color: #4B8;
}
.c100{
  width: 100%;
  background-color: #4B8;
  border-radius: 5px;
}
.comp2{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.conteneur-barre2{
  flex: 0 0 100%;
  height: 0.5em;
  margin-bottom: 0.25em;
  border-radius: 5px;
  background-color: grey;
}

.interet{
  flex: 0 1 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 20px;
}
.interet img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px #555;
}

@media screen and (min-width: 980px){
  section{
      width: 80%;
      box-shadow: 0px 0px 10px #bbb;
  }
  a:hover{
      color: #EA0;
  }
  header h1{
      width: 80%;
  }
  .prez, .contact{
      flex: 0 0 45%;
  }
  .prez{
      border-bottom: none;
      border-right: 2px solid #ccc;
      padding-right: 20px;
      margin-left: auto;
  }
  .contact{
      padding-left: 20px;
      margin-right: auto;
  }
  .prez a{
      border: 2px solid transparent;
  }
  .prez a:hover{
      color: #f28835;
      background-color: #fff;
      border: 2px solid #f28835;
      box-shadow: 0px 0px 20px #666;
  }
  .exp-logo{
      flex: 0 0 10%;
  }
  .exp-info, .exp-desc{
      flex: 0 0 85%;
      margin-left: auto;
  }
  .interet{
      flex: 0 1 25%;
  }
}

