<html>
    <head>
        <title>
            Mon site
        </title>
        <meta charset="utf-8" lang="fr">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('stylesheet/stylesheet.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <section>
            <div class="photo">
                <img src="../picture/logo.png" alt="Ma photo de profil">
            </div>
            <div class="prez">
                <h2>Qui suis-je ?</h2>
                <p>Etudiant à l'IUT de Roanne en réseau et télécommunications, diplomé du Baccalauréat mention "Bien" en lycée militaire de la defense, et ayant été jeune sapeur pompier. </p>
                <a href="cv.html" download="CV Thomas SANIOSSIAN.html">Télécharger mon CV</a>
            </div>
            <div class="contact">
                <h2>Informations de contact</h2>
                <div class="contact-flex">
                    <p>Nom : </p>
                    <p>SANIOSSIAN Thomas</p>
                </div>
                <div class="contact-flex">
                    <p>Adresse : </p>
                    <p>42 rue du lavoir, 42470, Saint Symphorien de Lay</p>
                </div>
                <div class="contact-flex">
                    <p>Téléphone :</p>
                    <p>06 44 82 73 61</p>
                </div>
                <div class="contact-flex">
                    <p>Mail : </p>
                    <p><a href="mailto:gotomi69@gmail.com">gotomi69@gmail.com</a></p>
                </div>
                <div class="contact-flex">
                    <p>Permis :</p>
                    <p>Entrain de passer le permis B</p>
                </div>
                <div class="social">
                    <a href="#"><img src="../picture/twitch.png" alt="Logo Twi"></a>
                    <a href="#"><img src="../picture/twitter.png" alt="Logo Tw"></a>
                    <a href="#"><img src="../picture/linkedin.png" alt="Logo Lk"></a>
                </div>
            </div>
        </section>
        
        <section>
            <h2>Expériences professionnelles</h2>
            <div class="exp">
                <div class="exp-logo">
                    <a href="#"><img src="../picture/stream.jpg"></a>
                </div>
                <div class="exp-info">
                    <h3>Streamer</h3>
                    <h4>Thomas Saniossian</h4>
                    <h4>Avril 2020 - Aujourd'hui</h4>
                </div>
                <div class="exp-desc">
                    <p>Comme le montre mon lien twitch, je produit du contenu "en direct" divertissant, pour differents types de personnes.</p>
                </div>
            </div>
            </div>
            <div class="exp">
                <div class="exp-logo">
                    <a href="#"><img src="../picture/militaire.jpg"></a>
                </div>
                <div class="exp-info">
                    <h3>Stage Quartier général Frères</h3>
                    <h4>Lyon</h4>
                    <h4>Mai 2017 - Juin 2017</h4>
                </div>
                <div class="exp-desc">
                    <p>Découverte du milieu professionel via un stage en milieu militaire.</p>
                </div>
            </div>
        </section>
        
        <section>
            <h2>Formation</h2>
            <div class="exp">
                <div class="exp-logo">
                    <a href="#"><img src="../picture/ecole.webp"></a>
                </div>
                <div class="exp-info">
                    <h3>Baccalauréat spécialités Physique-chimie, Mathématiques, Sciences de l'ingénieur.</h3>
                    <h4>2018 - 2021</h4>
                </div>
                <div class="exp-desc">
                    <p>Baccalauréat obtenu avec la mention "Bien"</p>
                </div>
            </div>
            <div class="exp">
                <div class="exp-logo">
                    <a href="#"><img src="../picture/pompier.jpg"></a>
                </div>
                <div class="exp-info">
                    <h3>PSC1/Gestes de premiers secours</h3>
                    <h4>2015</h4>
                </div>
                <div class="exp-desc">
                    <p>Jeune sapeur pompier pendant 3 ans, j'y ai appris les gestes de premiers secours, et ai validé de nombreuses formations quant à la sécurité, que ce soit en terme d'incendie ou du secours aux personnes.</p>
                </div>
            </div>
            <div class="exp">
                <div class="exp-logo">
                    <a href=""><img src="../picture/conduire.jpg"></a>
                </div>
                <div class="exp-info">
                    <h3>ASSR/ASSR2/BSR/Code de la route</h3>
                    <h4>2014 - 2021</h4>
                </div>
                <div class="exp-desc">
                    <p>Je suis détenteur de ces quatre diplomes, et actuellement en formation pour passer mon permis de conduire de type B.</p>
                </div>
            </div>
        </section>
        
        <section>
            <h2>Compétences</h2>
            <h3 class="h3gauche">Professionnelles</h3>
            <div class="comp">
                <p>HTML / CSS</p>
                <div class="conteneur-barre"><span class="barre c90"></span></div>
            </div>
            <div class="comp">
                <p>Mathématiques/Physique-chimie niveau lycée</p>
                <div class="conteneur-barre"><span class="barre c100"></span></div>
            </div>
            <div class="comp">
                <p>JavaScript</p>
                <div class="conteneur-barre"><span class="barre c50"></span></div>
            </div>
            <h3 class="h3gauche">Personnelles</h3>
            <div class="comp2">
                <p>Créativité</p>
                <p>90%</p>
                <div class="conteneur-barre2"><span class="barre c90"></span></div>
            </div>
            <div class="comp2">
                <p>Adaptation</p>
                <p>90%</p>
                <div class="conteneur-barre2"><span class="barre c90"></span></div>
            </div>
            <div class="comp2">
                <p>Sérieux</p>
                <p>95%</p>
                <div class="conteneur-barre2"><span class="barre c95"></span></div>
            </div>
            <div class="comp2">
                <p>Autonomie</p>
                <p>100%</p>
                <div class="conteneur-barre2"><span class="barre c100"></span></div>
            </div>
        </section>
        
        <section>
            <h2>Centres d'intérêt</h2>
            <figure class="interet">
                <img src="../picture/foot.webp">
                <figcaption>Football</figcaption>
            </figure>
            <figure class="interet">
                <img src="../picture/prog.webp">
                <figcaption>Programmation/développement</figcaption>
            </figure>
            <figure class="interet">
                <img src="../picture/stream.jpg">
                <figcaption>Jeux vidéos</figcaption>
            </figure>
        </section>
        
        <footer>
            <p><a>@Thomas SANIOSSIAN</a> 2021</p>
            <p>Reproduction à des fins commerciales interdite.</p>
            <p>Merci de respecter le travail des auteurs en faisant un lien vers
            le contenu original !</p>
        </footer>
    </body>
</html>