<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="stylesheet/stylesheet.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
            <nav>
                <ul>
                    <li class="menu">
                        <a href="portfolio">
                            Portfolio
                        </a>
                    </li>
                    <li class="menu">
                        <a href="cv">
                            Mon CV
                        </a>
                    </li>
                    <li class="menu">
                        <a href="loisir">
                            Mes loisirs
                        </a>
                    </li>
                    <li class="menu">
                        <a>
                            Mes réseaux
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="http://twitter.com/TSaniossian">
                                    Twitter
                                    <p></p>
                                    <img class="res" src="picture/twitter.png">
                                </a>
                            </li>
                            <li>
                                <a href="http://twitch.tv/gotomi_">
                                    Twitch
                                    <p></p>
                                    <img class="res" src="picture/twitch.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/thomas-saniossian-1a5545228/">
                                    Linked-In
                                    <p></p>
                                    <img class="res" src="picture/linkedin.png">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <!-- skills section start -->
    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">My skills</h2>
            <div class="skills-content">
                <div class="column left">
                    <div class="text">My creative skills & experiences.</div>
                    <p>I love coding, so i know, or begin in a lot of languages, to be able to do anything in any language in the future !</p>
                    <a href="#">Read more</a>
                </div>
                <div class="column right">
                    <div class="bars">
                        <div class="info">
                            <span>"Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications"</span>
                            <span>90%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>CSS</span>
                            <span>90%</span>
                        </div>
                        <div class="line css"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>JavaScript</span>
                            <span>30%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>