<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="stylesheet/stylesheet.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
            <nav>
                <ul>
                    <li class="menu">
                        <a href="index">
                            Menu
                        </a>
                    </li>
                    <li class="menu">
                        <a href="portfolio">
                            Portfolio
                        </a>
                    </li>
                    <li class="menu">
                        <a href="cv">
                            Mon CV
                        </a>
                    </li>
                    <li class="menu">
                        <a href="loisir">
                            Mes loisirs
                        </a>
                    </li>
                    <li class="menu">
                        <a>
                            Mes réseaux
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="http://twitter.com/TSaniossian">
                                    Twitter
                                    <p></p>
                                    <img class="res" src="picture/twitter.png">
                                </a>
                            </li>
                            <li>
                                <a href="http://twitch.tv/gotomi_">
                                    Twitch
                                    <p></p>
                                    <img class="res" src="picture/twitch.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/thomas-saniossian-1a5545228/">
                                    Linked-In
                                    <p></p>
                                    <img class="res" src="picture/linkedin.png">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <!-- skills section start -->
    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">My skills</h2>
            <div class="skills-content">
                <div class="column left">
                    <div class="text">My creative skills & experiences.</div>
                    <p>I love coding, so i know, or begin in a lot of languages, to be able to do anything in any language in the future !</p>
                </div>
                <div class="column right">
                    <h2><strong>Administrer les réseaux et l’Internet</strong></h2>
                    <br><br>
                    <div class="bars">
                        <div class="info">
                            <span>"Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications"</span>
                            <span>90%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Comprendre les principes et standards du codage de l’information</span>
                            <span>90%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Configurer les fonctions de base du réseau local</span>
                            <span>90%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Maîtriser les rôles et les principes fondamentaux des systèmes d’exploitation afin d’interagir avec ceux-ci pour la configuration etadministration des réseaux et services fournis</span>
                            <span>80%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Savoir identifier les dysfonctionnements du réseau local</span>
                            <span>90%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Installer un poste client                            </span>
                            <span>80%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                    <br><br>
                    <h2><strong>Administrer les réseaux et l’Internet</strong></h2>
                    <br><br>
                    <div class="bars">
                        <div class="info">
                            <span>Mesurer et analyser les signaux</span>
                            <span>80%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</span>
                            <span>90%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <br><br>
                    <h2><strong>Créer des outils et applications informatiques pour les R&T</strong></h2>
                    <br><br>
                    <div class="bars">
                        <div class="info">
                            <span>Utiliser un système informatique et ses outils</span>
                            <span>70%</span>
                        </div>
                        <div class="line mysql"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Lire, exécuter, corriger et modifier un programme</span>
                            <span>90%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Traduire un algorithme, dans un langage et pour un environnement donné</span>
                            <span>80%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Connaître l’architecture et les technologies d’un site Web</span>
                            <span>70%</span>
                        </div>
                        <div class="line mysql"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>S’intégrer dans un environnement propice au développement et au travail collaboratif</span>
                            <span>90%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p><a>@Thomas SANIOSSIAN</a> 2021</p>
        <p>Reproduction à des fins commerciales interdite.</p>
        <p>Merci de respecter le travail des auteurs en faisant un lien vers
        le contenu original !</p>
    </footer>
</body>